@media (max-width: 1180px) {
    .hero_section{
        margin-top: 15vh;
    }
    .hero_heading{
        font-size: 30px!important;
    }
    .hero_content_wrapper{
        grid-template-columns: 1fr;
    }
    .hero_img_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;        
    }
    .hero_img{
        align-self: flex-start;
        width: 76%;
    }
    .align_left{
        display: none;
    }
    .section_wire{
        width: 10vw;
        right: 15%;
    }.step_card_wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .quality_section_wrapper{
        grid-template-columns: 1fr;
    }
    .quality_section{
        padding-bottom: 10vh;
    }
    .quality_divisions{
        grid-template-columns: repeat(4, 1fr);
    }
    .section5_wire{
        width: 20vh;
        right: 30%;
        /* position: absolute; */
    }
    .training_pointer{
        margin-left: 18vw;
        margin-bottom: 2vh;
    }
    .quality_heading{
        font-size: 36px;
    }
    .scope_card_wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .scope_section_intro h1{
        width: 90%;
        font-size: 32px;
    }
